<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <listener>
        <listener-class>nuonuo.TomcatListener</listener-class>
    </listener>
    <!--Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/-->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>doUserServlet</servlet-name>
        <servlet-class>nuonuo.userp.servlet.doUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doAliasServlet</servlet-name>
        <servlet-class>nuonuo.aliasp.servlet.doAliasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionAction</servlet-name>
        <servlet-class>nuonuo.questions.Servlet.QuestionAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>nuonuo.userp.servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TagsAction</servlet-name>
        <servlet-class>nuonuo.tag.Servlet.TagsAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Answeraction</servlet-name>
        <servlet-class>nuonuo.answers.Servlet.Answeraction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tagselect</servlet-name>
        <servlet-class>nuonuo.tag.Servlet.Tagselect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questionlist</servlet-name>
        <servlet-class>nuonuo.questions.Servlet.Questionlist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>doUserServlet</servlet-name>
        <url-pattern>/doUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doAliasServlet</servlet-name>
        <url-pattern>/doAliasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionAction</servlet-name>
        <url-pattern>/QuestionAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagsAction</servlet-name>
        <url-pattern>/TagsAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Answeraction</servlet-name>
        <url-pattern>/Answeraction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tagselect</servlet-name>
        <url-pattern>/Tagselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questionlist</servlet-name>
        <url-pattern>/Questionlist</url-pattern>
    </servlet-mapping>

</web-app>