.ProfileHeader{
    position: relative;
    width: 1032px;
    padding: 0 16px;
    margin: 10px auto;
}

.ProfileHeader-userCover{
    width: 100%;
}
.ProfileHeader-wrapper{
    position: relative;
    width: 100%;
    background: #fff;
    height: 170px;
    box-sizing: border-box;
}
.ProfileHeader-main{
    position: relative;
    margin: 0 20px 24px;
}
.ProfileHeader-avatar {
    position: absolute;
    top: -25px;
    left: 0;
    z-index: 4;
}
.UserAvatarEditor {
    cursor: pointer;
}
.ProfileHeader-content {
    padding-top: 16px;
    padding-left: 32px;
    border-left: 164px solid transparent;
}
.ProfileHeader-contentHead {
    position: relative;
    padding-right: 106px;
    margin-bottom: 16px;
}
.ProfileHeader-contentBody {
    position: relative;
    width: 524px;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s;
}
.ProfileHeader-contentFooter {
    position: relative;
    padding-top: 8px;
}
.ProfileHeader-info {
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
}
.ProfileHeader-infoItem:not(:last-child) {
    margin-bottom: 10px;
}
.ProfileHeader-infoItem {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**/
.ProfileHeader-iconWrapper {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    text-align: center;
}

.ProfileHeader-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
}

.Button--blue {
    color: #0f88eb;
    border: 1px solid #0f88eb;
}

.Button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid #ccd8e1;
    border-radius: 3px;
}

.UserAvatar, .UserAvatar-inner {
    vertical-align: top;
}

.UserAvatar {
    display: inline-block;
    overflow: hidden;
    border: 4px solid #fff;
    border-radius: 8px;
}


.Mask-hidden {
    pointer-events: none;
    opacity: 0;
}
.Mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
}
.UserAvatarEditor {
    cursor: pointer;
}

.UserAvatarEditor-maskInner {
    z-index: 4;
    border: 4px solid #fff;
    border-radius: 8px;
}

.Mask-mask--black {
    background: #000;
}

.Mask-mask {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: .4;
    box-sizing: border-box;
}

.UserAvatar-inner {
    vertical-align: top;
}

.Avatar--large {
    border-radius: 4px;
}

.Avatar {
    background: #fff;
    border-radius: 2px;
}
.ProfileHeader-userCover {
    width: 100%;
}
.UserCoverEditor {
    position: relative;
}
.UserCoverGuide {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}

.UserCover {
    position: relative;
    height: 240px;
    overflow: hidden;
    background: #f7f8fa;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    -webkit-transition: height .3s;
    transition: height .3s;
}
.UserCover--colorBlock {
    height: 132px;
    background: #96a1a9;
}
.ProfileHeader-expandButton {
    line-height: 1;
}

.Button--link, .Button--plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.Button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid #ccd8e1;
    border-radius: 3px;
}
.ProfileHeader-expandButton .Icon {
    margin: 0 16px 0 4px;
    height: 16px;
    width: 10px;
}

.Icon {
    vertical-align: text-bottom;
    fill: #9fadc7;
}

.Profile-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1032px;
    min-height: 100vh;
    padding: 0 16px;
    margin: 10px auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.Profile-mainColumn {
    width: 694px;
}

.Profile-sideColumn {
    width: 296px;
    color: #555;
}

.Card:last-child {
    margin-bottom: 0;
}

.Card {
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
}
.main-sidebar{
    position: relative;
    margin: 0 0 0 0;
    float: left;
    width: 100%;
}
#change {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    border: 0;
    margin: 0 0 0 0;
}
/*第四部分的内容*/
.Profile-sideColumnTitle {
    padding: 0 14px;
}
.Card-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 24px;
    border-bottom: 1px solid #f0f2f7;
    box-sizing: border-box;
}
.Card-headerText {
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Profile-sideColumnItems {
    padding: 12px 0;
}
.IconGraf {
    margin-bottom: 12px;
}
.IconGraf-iconWrapper {
    display: inline-block;
    width: 28px;
}
.Profile-sideColumnItemValue {
    margin-left: 29px;
    font-size: 14px;
    color: #8590a6;
}


.maincontent {
    width: 100%;
    float: left;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    border-top: 0;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
}

#paneldate {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    position: relative;
    border: 0;
    margin: 0 0 0 0;
}

.Tabs-link.is-active:after {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 3px;
    background: #0f88eb;
    content: "";
}
.list-group-item a{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    color: #1e1e1e;
    margin-top: -5px;
    margin-bottom: -5px;
}

.list-group-item a:hover{
    color: #0f88eb;
    text-decoration: none;
}


/*关注标签栏的内容*/
.List-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    margin: 0 20px;
    border-bottom: 1px solid #f0f2f7;
    box-sizing: border-box;
}

.SubTabs {
    display: inline-block;
}
.SubTabs-item {
    height: 21px;
    padding: 6px 0 7px;
    margin-right: 36px;
}
a {
    color: inherit;
    text-decoration: none;
}
.SubTabs-item:not(.is-active) {
    font-weight: 400;
}

a:link{
    text-decoration: none;
}



/*另一种对象列表的方式*/
.ContentItem-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ContentItem-image {
    float: left;
    margin-right: 20px;
}
.ContentItem-head {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.ContentItem-extra {
    -ms-grid-row-align: center;
    align-self: center;
}

/* ContentTtem image- 个人头像图片的位置*/
.Popover {
    display: block;
}

.Popover {
    position: relative;
}

.UserItem-avatar .Avatar, .UserItem-avatar .Popover {
    display: block;
}

.Avatar--large {
    border-radius: 4px;
}

.Avatar {
    background: #fff;
    border-radius: 2px;
}
/* ContentTtem head- 个人头像图片的位置*/
.ContentItem-title+.ContentItem-meta {
    margin-top: 6px;
}
.ContentItem-meta {
    font-size: 15px;
    color: #555;
}
.UserItem-name, .UserItem-name .UserLink-badge, .UserItem-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ContentItem-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
    color: #1e1e1e;
    margin-top: -5px;
    margin-bottom: -5px;
}
.FollowStatus {
    display: inline-block;
    padding: 1px 6px;
    margin-left: 8px;
    font-size: 12px;
    color: #8590a6;
    vertical-align: 1px;
    background-color: #f7f8fa;
    border-radius: 3px;
}
.UserItem-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.RichText {
    white-space: pre-wrap;
}
.ContentItem-status {
    margin-top: 5px;
    color: #8590a6;
    font-size: 14px;
}


